<h2>HOME</h2>

<form [formGroup]="homeform" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput type="text" name="nome" formControlName="nome" />
  </mat-form-field>
  <p *ngIf="!homeform.get('nome')?.valid && homeform.get('nome')?.touched">
    Inserisci un nome
  </p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Colore</mat-label>
    <mat-select name="colore" formControlName="colore">
      <mat-option value="red">Rosso</mat-option>
      <mat-option value="blue">Blu</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!homeform.valid"
  >
    Invia
  </button>
</form>

<button mat-raised-button color="warn" (click)="onDeletePersona()">
  Elimina utente
</button>

<button mat-raised-button color="primary" (click)="onPatchPersona()">
  Modifica utente
</button>
