.cerchio,
.cerchioVerde,
.cerchioRosso {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.cerchioVerde {
  background-color: green;
}

.cerchioRosso {
  background-color: red;
}

.cerchio {
  background-color: blue;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

li > p {
  margin-bottom: 0;
  margin-left: 10px;
}
