.cerchioVerde,
.cerchioRosso {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.cerchioVerde {
  background-color: green;
}

.cerchioRosso {
  background-color: red;
}

.cerchio {
  background-color: blue;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

li > p {
  margin-bottom: 0;
  margin-left: 10px;
}

.cerchioOnline {
  background-color: green;
  color: white;
}

.cerchioOffine {
  background-color: red;
  color: black;
}
