<!-- <app-prova></app-prova> -->

<button mat-raised-button color="primary" (click)="onClick($event)">
  Primary
</button>

<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="title" />
</mat-form-field>
<div>
  {{ title }}
</div>

<h3><strong>direttiva If</strong></h3>
<p *ngIf="isVisible; else bloccoElse">Sono visibile</p>
<ng-template #bloccoElse>
  <p>non sono visibile</p>
</ng-template>

<h3><strong>direttiva For</strong></h3>

<ul>
  <li *ngFor="let persona of persone">
    <div class="cerchioVerde" *ngIf="persona.isOnline"></div>
    <div class="cerchioRosso" *ngIf="!persona.isOnline"></div>
    <p>{{ persona.nome }} - {{ persona.cognome }}</p>
  </li>
</ul>

<div
  *ngFor="
    let persona of persone;
    index as i;
    first as isFirst;
    last as isLast;
    even as isEven;
    odd as isOdd
  "
>
  <p>
    Index:{{ i }} - IsFirst:{{ isFirst }} - IsLast:{{ isLast }}- IsEven:{{
      isEven
    }}
    - IsOdd:{{ isOdd }} - Name:{{ persona.nome }} - LastName:{{
      persona.cognome
    }}
  </p>
</div>

<h3><strong>direttiva Switch</strong></h3>

<div [ngSwitch]="stringa">
  <p *ngSwitchCase="'pippo'">uno</p>
  <p *ngSwitchCase="'paperino'">due</p>
  <p *ngSwitchCase="'pluto'">tre</p>
  <p *ngSwitchCase="'topolino'">quattro</p>
  <p *ngSwitchDefault>default</p>
</div>

<h3><strong>direttiva Style</strong></h3>

<ul>
  <li *ngFor="let persona of persone">
    <!-- <div class="cerchio" [ngStyle]="{ background: getColor() }"></div> -->
    <div
      class="cerchio"
      [ngStyle]="{ background: persona.isOnline ? 'green' : 'red' }"
    ></div>
    <p>{{ persona.nome }} - {{ persona.cognome }}</p>
  </li>
</ul>
